@import 'abstract/variables';
@import 'abstract/mixins';
@import 'base/base';
@import 'base/utils';
@import 'components/header';
@import 'components/home';
@import 'components/contact';
@import 'components/projects';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
    // background-color: #202020;
    
    // background-image: url('./assets/back.jpg');
}